{% extends "base.html" %}
{% load static tailwind_tags %}
{% load widget_tweaks %}

{% block content %}
    <div class="flex justify-center items-center w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
        <div class="w-full bg-white rounded shadow-2xl p-2 m-2">
            <h1 class="block w-full text-center text-gray-800 text-2xl font-bold mb-6">Reset password</h1>
            <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form method="POST">
                {% csrf_token %}
                <div class="flex flex-col mb-4">
                    <label class="mb-2 font-bold text-lg text-gray-900" for="email">Email*</label>
                    {% render_field form.email type='text' name='email' id='email' class='border py-2 px-3 text-grey-800'%}
                </div>
                <div class="flex flex-col mb-4">
                    <label class="mb-2 font-bold text-lg text-gray-900" for="password">Recaptcha*</label>
                    {% render_field form.captcha class='border py-2 px-3 text-grey-800'%}
                </div>
                <input 
                    class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:bg-green-600 text-gray-700 uppercase font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 cursor-pointer"
                    type="submit" value='Send email'>
                
            </form>
        </div>
    </div>
{% endblock %}